@import '../../styles.css';

#navbar-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 2%;
  justify-content: space-between;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#logo {
  flex-grow: 1;
  width: 40%;
  max-width: 400px;
}

#nav-items {
  display: flex;
  color: grey;
}

.nav-item {
  display: flex;
  align-self: flex-end;
  border: none;
  background-color: transparent;
  color: grey;
  cursor: pointer;
  margin-left: 5%;
}

#tool-tip {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2%;
  margin-top: 2%;
  align-items: center;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#tool-tip>*,
li {
  width: 80%;
  margin-top: 1%;
  padding: 0.5%;
}

#tool-tip p {
  width: 60%;
  font-size: medium;
  line-height: 1.6;
}

span {
  color: var(--blue);
}

.list {
  list-style: square inside;
}