#navbar-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  border: 1px lightgrey solid;
  border-radius: 10px;
  padding: 3%
}

#logo {
  flex-grow: 1;
  width: 40%;
  max-width: 400px;
}

#nav-items {
  display: flex;
  color: gray;
}

.nav-item {
  display: flex;
  align-self: flex-end;
}

#tool-tip {
  border: 1px gray solid;
  border-radius: 10px;
  padding: 3%;
  position: relative;
  align-self: center;
  z-index: 0;
}