@import '../../../styles.css';

footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  padding: 1%;
  margin-bottom: 2%;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

footer p,
a {
  display: flex;
  text-decoration: none;
  color: grey;
}

#up {
  background-color: white;
  color: var(--blue);
  border: none;
}