@import "../../styles.css";

.loader-container {
  display: flex;
}

.loading {
  display: inline;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid var(--blue);
  animation: spin 2s linear infinite;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#event-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 3%;
  margin-bottom: 2%;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#delete-btn {
  width: fit-content;
  border: none;
  background-color: white;
  margin-right: 0;
  margin-left: auto;
  color: grey;
}

#event-data-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 1000px;
}

#data-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-evenly;
}

.data-element {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  gap: 100px;
}

.data-element>* {
  padding-top: 100px;
}

.data-element:nth-child(1),
.data-element:nth-child(2),
.data-element:nth-child(3) {
  font-size: large;
}

.data-element:nth-child(1),
.data-element:nth-child(2),
.data-element:nth-child(3),
.data-element:nth-child(6),
.data-element:nth-child(15),
.data-element:nth-child(22),
.data-element:nth-child(29) {
  font-weight: bold;
  color: var(--blue);
}

.data-element:nth-child(4),
.data-element:nth-child(7),
.data-element:nth-child(9),
.data-element:nth-child(11),
.data-element:nth-child(13),
.data-element:nth-child(16),
.data-element:nth-child(18),
.data-element:nth-child(20),
.data-element:nth-child(23),
.data-element:nth-child(25),
.data-element:nth-child(27),
/* #data-list:nth-child(30), */
.data-element:nth-child(32),
.data-element:nth-child(34),
.data-element:nth-child(36),
.data-element:nth-child(38),
.data-element:nth-child(40) {
  color: var(--blue);
}


.data-element:nth-child(4),
.data-element:nth-child(6),
.data-element:nth-child(15),
.data-element:nth-child(22),
.data-element:nth-child(29) {
  flex-basis: 100%;
  align-self: flex-start;
  padding-top: 10px;
}