@import "../../styles.css";

.loader-container {
  display: flex;
}

.loading {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid var(--blue);
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#event-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 3%;
  margin-bottom: 2%;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}


.add-btn {
  width: fit-content;
  border: none;
  margin-right: 0;
  margin-left: auto;
  color: grey;
  display: flex;
  height: 30px;
  line-height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  text-align: center;
  justify-content: baseline;
  align-items: center;
}

.clicked {
  width: fit-content;
  border: none;
  margin-right: 0;
  margin-left: auto;
  color: grey;
  display: flex;
  height: 30px;
  line-height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  background-color: var(--pink);
  text-align: center;
  justify-content: baseline;
  align-items: center;
}


#event-data-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
}

#data-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}

.data-element {
  display: flex;
  margin: 10px;
}

#data-list:nth-child(1),
#data-list:nth-child(2),
#data-list:nth-child(3),
#data-list:nth-child(6),
#data-list:nth-child(15),
#data-list:nth-child(22),
#data-list:nth-child(29) {
  font-weight: bold;
  color: var(--blue);
}

#data-list:nth-child(4),
#data-list:nth-child(7),
#data-list:nth-child(9),
#data-list:nth-child(11),
#data-list:nth-child(13),
#data-list:nth-child(16),
#data-list:nth-child(18),
#data-list:nth-child(20),
#data-list:nth-child(23),
#data-list:nth-child(25),
#data-list:nth-child(27),
#data-list:nth-child(30),
#data-list:nth-child(32),
#data-list:nth-child(34),
#data-list:nth-child(36),
#data-list:nth-child(38),
#data-list:nth-child(40) {
  color: var(--blue);
}


#data-list:nth-child(6),
#data-list:nth-child(15),
#data-list:nth-child(22),
#data-list:nth-child(29) {
  flex-basis: 100%;
}