@import "../../styles.css";

/* #container {
  position: relative;
} */

#loading {
  position: sticky;

  left: 50%;
  top: 70%;
  z-index: 1;
  width: 100px;
  height: 100px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid var(--blue);
  width: 70px;
  height: 70px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#event-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px lightgrey solid;
  border-radius: 10px;
  padding: 3%;
  margin-bottom: 2%;
}

#add-btn {
  width: fit-content;
  border: none;
  background-color: white;
  margin-right: 0;
  margin-left: auto;
  color: grey;
}

#add-btn:focus {
  display: flex;
  height: 30px;
  line-height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  background-color: var(--pink);
  text-align: center;
  justify-content: baseline;
  align-items: center;
}

#add-btn:visited {
  display: flex;
  height: 30px;
  line-height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  background-color: var(--pink);
  text-align: center;
  justify-content: baseline;
  align-items: center;
}

#event-data-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 900px;
}

#data-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}

.data-element {
  display: flex;
  margin: 10px;
}

#data-list:nth-child(odd) {
  display: flex;
  font-weight: bold;
  color: var(--blue);
}

#data-list:nth-child(2n) {
  display: flex;
}