#form-container {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  border: 1px lightgrey solid;
  border-radius: 10px;
  padding: 3%;
}

form>* {
  margin: 5px;
}

input {
  height: 35px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding-left: 10px;
}

.input-date {
  width: 60px;
}

.input-time {
  width: 110px;
}

#submit-btn {
  position: absolute;
  float: right;
  width: 60px;
  height: 40px;
}