#form-container {
  display: flex;
  flex-direction: row;
}

form>* {
  margin: 10px
}

input {
  height: 40px;
  border: 1px solid lightgray;
  border-radius: 5px;

}

.input-date {
  width: 60px;
}

.input-time {
  width: 90px;
}

#submit-btn {
  width: 60px;
  height: 40px;
}