@import '../../styles.css';

#form-container {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  max-width: 1200px;
  border: 1px lightgrey solid;
  border-radius: 10px;
  padding: 2%;
}

#form {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 1%;
}

#form>* {
  margin: 5px;
}

#form>*:nth-child(1) {
  flex-basis: 100%;
}

#form>*:nth-child(13) {
  flex-basis: 100%;
}

input {
  height: 35px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding-left: 10px;
}

.input-data {
  width: 60px;
}

.input-time {
  width: 110px;
}

.magnitude {
  align-self: flex-end;
  max-width: 60px;
}

.separator {
  padding-left: 5%;
}

#submit-btn {
  flex-grow: 2;
  text-align: end;
  width: 60px;
  height: 40px;
  color: var(--blue);
  font-size: large;
  font-weight: bold;
  border: none;
  background-color: white;
}