<form [formGroup]="eventsForm" (ngSubmit)="handleSubmit()">
  <p>Start Date</p>
  <label class="label" value="Year">Year</label>
  <input class="input-date" type="number" min="1964" formControlName="startYear">

  <label class="label" value="Month">Month</label>
  <input class="input-date" type="number" formControlName="startMonth">

  <label class="label" value="Day">Day</label>
  <input class="input-date" type="number" formControlName="startDay">

  <label class="label" value="Time">Time (HH:MM:SS)</label>
  <input class="input-time" type="time" step="1" formControlName="startTime">

  <label class="label" value="Min Magnitude">Min Magnitude</label>
  <input class="input-date" type="number" min="0" max="10" step="0.01" formControlName="minMag">


  <p>End Date</p>
  <label class="label" value="Year">Year</label>
  <input class="input-date" type="number" min="1964" formControlName="endYear">

  <label class="label" value="Month">Month</label>
  <input class="input-date" type="number" formControlName="endMonth">

  <label class="label" value="Day">Day</label>
  <input class="input-date" type="number" formControlName="endDay">

  <label class="label" value="Time">Time (HH:MM:SS)</label>
  <input class="input-time" type="time" step="1" formControlName="endTime">

  <label class="label" value="Max Magnitude">Max Magnitude</label>
  <input class="input-date" type="number" min="0" max="10" step="0.01" formControlName="maxMag">

  <button id="submit-btn" type="submit">Start</button>

</form>